# How to change the position of column(s) in a Julia Data Frame

We will use `select` or `select!` function. 

Here are the sources of information I found:

- https://discourse.julialang.org/t/pull-dataframes-columns-to-the-front/60327/3
- https://stackoverflow.com/a/66315541
- https://github.com/JuliaData/DataFrames.jl/issues/2631

In [33]:
using DataFrames

In [34]:
df = DataFrame(:A => [1, 2, 3], 
    :B => ["a", "b", "c"], 
    :C => [4, 5, 6], 
    :D => ["d", "e", "f"],
    :E => [7, 8, 9]
)

3×5 DataFrame
 Row │ A      B       C      D       E
     │ Int64  String  Int64  String  Int64
─────┼─────────────────────────────────────
   1 │     1  a           4  d           7
   2 │     2  b           5  e           8
   3 │     3  c           6  f           9

## 1: To move column B to the end

In [35]:
col = :B
select(df, [1,3,4,5], col)

3×5 DataFrame
 Row │ A      C      D       E      B
     │ Int64  Int64  String  Int64  String
─────┼─────────────────────────────────────
   1 │     1      4  d           7  a
   2 │     2      5  e           8  b
   3 │     3      6  f           9  c

## 2: To move column B to the front

In [36]:
select(df, col, :)

3×5 DataFrame
 Row │ B       A      C      D       E
     │ String  Int64  Int64  String  Int64
─────┼─────────────────────────────────────
   1 │ a           1      4  d           7
   2 │ b           2      5  e           8
   3 │ c           3      6  f           9

## 3. To move column B and C together to the front

In [37]:
cols = [:B, :C]
select(df, cols, :)

3×5 DataFrame
 Row │ B       C      A      D       E
     │ String  Int64  Int64  String  Int64
─────┼─────────────────────────────────────
   1 │ a           4      1  d           7
   2 │ b           5      2  e           8
   3 │ c           6      3  f           9

## 4. To move column C to the 2nd column

In [38]:
select(df, 1, :C, :)

3×5 DataFrame
 Row │ A      C      B       D       E
     │ Int64  Int64  String  String  Int64
─────┼─────────────────────────────────────
   1 │     1      4  a       d           7
   2 │     2      5  b       e           8
   3 │     3      6  c       f           9

## Explanation

By now, I hope you've already understood the mechanism. If we use `select(df, x, y, z)`, the output will have the order of `x, y, z`. And `:` in `select(df, 1, :C, :)` and all other expressions above means all the remaining columns not selected at that point.