# How to select and rename colums in a data frame

In [4]:
using DataFrames, Random

First, we construct a dataframe:

In [5]:
df = DataFrame(:A => 1:3 , :B => ["a", "b", "c"], :C => randstring.([4,4,4]))

3×3 DataFrame
│ Row │ A     │ B      │ C      │
│     │ Int64 │ String │ String │
├─────┼───────┼────────┼────────┤
│ 1   │ 1     │ a      │ njVF   │
│ 2   │ 2     │ b      │ 9lHn   │
│ 3   │ 3     │ c      │ RVj4   │

## Select columns:
Then we obtain a subset:

In [8]:
df1 = df[:, [1, 3]]

3×2 DataFrame
│ Row │ A     │ C      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ njVF   │
│ 2   │ 2     │ 9lHn   │
│ 3   │ 3     │ RVj4   │

## Rename columns:
Here is how we rename columns:

In [13]:
colnames = [:NewA, :NewC]
rename!(df1, colnames)
# or `names!(df1, colnames)`

3×2 DataFrame
│ Row │ NewA  │ NewC   │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ njVF   │
│ 2   │ 2     │ 9lHn   │
│ 3   │ 3     │ RVj4   │